.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/ios/Flutter/Flutter.podspec
/ios/Flutter/ephemeral/
/android/.gradle/
/android/.kotlin/
/android/local.properties
/android/key.properties
/upload-keystore.jks
/android/app/debug
/android/app/profile
/android/app/release
